.wcs .wcs-hero {
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  position: relative;
}
.wcs .wcs-hero::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.wcs .wcs-center-hero {
  max-width: 700px;
  margin: 0 auto !important;
  float: none !important;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .wcs .wcs-vert-align {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .wcs .wcs-vert-align.rev-order {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
  }
  .wcs .wcs-container.wcs-vert-align.rev-order .wcs-col-6:last-child {
    margin-left: 0;
  }
}
@media(min-width:768px) and (max-width:1139px) {
  .wcs .wcs-container.wcs-vert-align.rev-order .wcs-col-6:first-child {
    margin-left:2.762430939%;
    *margin-left:2.709239449638298%;
  }
}
@media(min-width:1280px) {
  .wcs .wcs-container.wcs-vert-align.rev-order .wcs-col-6:first-child {
    margin-left:2.564102564%;
    *margin-left:2.510911074638298%;
  }
}

@media (max-width: 767px) {
	.wcs .wcs-container.wcs-top-align .wcs-col-6 {
    margin-bottom: 20px;
	}
}

.wcs .wcs-page-center {
    max-width: 1040px;
    margin: 0 auto !important;
    float: none !important;
  	padding: 0 20px;
}

/********************************/

.wcs-container {
  margin: 0 auto !important;
  float: none !important;
  padding: 0 20px;
}
.wcs-container-fluid {
  margin: 0 auto !important;
  float: none !important;
  padding: 0 20px;
}
.wcs-col-1, .wcs-col-2, .wcs-col-3, .wcs-col-4, .wcs-col-5, .wcs-col-6, .wcs-col-7, .wcs-col-8, .wcs-col-9, .wcs-col-10, .wcs-col-11, .wcs-col-12 {
  min-height: 1px;
}
@media (min-width: 1200px) {
  .wcs-col-1, .wcs-col-2, .wcs-col-3, .wcs-col-4, .wcs-col-5, .wcs-col-6, .wcs-col-7, .wcs-col-8, .wcs-col-9, .wcs-col-10, .wcs-col-11, .wcs-col-12 {
    float: left;
  }
  .wcs-col-12 {
    width: 100%;
  }
  .wcs-col-11 {
    width: 91.66666667%;
  }
  .wcs-col-10 {
    width: 83.33333333%;
  }
  .wcs-col-9 {
    width: 75%;
  }
  .wcs-col-8 {
    width: 66.66666667%;
  }
  .wcs-col-7 {
    width: 58.33333333%;
  }
  .wcs-col-6 {
    width: 50%;
  }
  .wcs-col-5 {
    width: 41.66666667%;
  }
  .wcs-col-4 {
    width: 33.33333333%;
  }
  .wcs-col-3 {
    width: 25%;
  }
  .wcs-col-2 {
    width: 16.66666667%;
  }
  .wcs-col-1 {
    width: 8.33333333%;
  }
}
.wcs-clearfix:before,
.wcs-clearfix:after,
.wcs-container:before,
.wcs-container:after,
.wcs-container-fluid:before,
.wcs-container-fluid:after {
  content: " ";
  display: table;
}
.wcs-clearfix:after,
.wcs-container:after,
.wcs-container-fluid:after {
  clear: both;
}