.hs-hero {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 0;
  position: relative;
}
@media only screen and (min-width: 401px) {
  .hs-hero {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.hs-hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .2;
}
.hs-hero__content {
  position: relative;
  z-index: 1;
  padding: 0 1em;
}
@media only screen and (min-width: 401px) {
  .hs-hero__content {
    padding: 0 10%;
  } 
}
.hs-hero__content main {
  font-size: 1.8em;
}
.hs-hero__content--center {
  text-align: center;
}
.hs-hero__content--right {
  text-align: right;
}