.hs-testimonial-slider {
  position: relative;
  padding: 0 1em;
}
.hs-gallery .slick-slide {
  max-width: 100%;
  text-align: center;
}
/* Testimonial Wrapper */
.hs-testimonial {
  padding: 1em;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
      -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.hs-testimonial.slick-slide {
  padding: 0;
  margin: 1em;
}
/* Testimonial Wrapper :: Variations */
@media only screen and (min-width: 768px) {
  .hs-testimonial--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hs-testimonial--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .hs-testimonial--left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .hs-testimonial--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
/* Author Image */
.hs-testimonial figure {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}
/* Author Image :: Variations */
@media only screen and (min-width: 768px) {
  .hs-testimonial--right figure {
    margin: 0 0 0 1.5em;
  }
  .hs-testimonial--bottom figure {
    margin: 0 auto;
  }
  .hs-testimonial--left figure {
    margin: 0 1.5em 0 0;
  }
}

/* Blockquote */
.hs-testimonial blockquote {
  background-color: none;
  border: 1px solid #eee;
  border-radius: .2em;
  font-size: 1.3em;
  position: relative;
  -webkit-box-shadow: 0 .25em 2em -.5em rgba(29,29,31,0.3);
  box-shadow: 0 .25em 2em -.5em rgba(29,29,31,0.3);
  padding: 2em;
  margin: 1em 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.hs-testimonial blockquote:before {
  content: "";
  position: absolute;
  display: block;
  height: 1em;
  width: 1em;
  background-color: #none;
  bottom: calc(100% - .5em - 1px);
  left: calc(50% - .5em);
  border: 1px solid transparent;
  border-top-color: #eee;
  border-right-color: #eee;
  -webkit-transform: rotate(-45deg);    
  -ms-transform: rotate(-45deg);    
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 .25em 2em -.5em rgba(29,29,31,0.3);
  box-shadow: 0 .25em 2em -.5em rgba(29,29,31,0.3);
}
/* Blockquote :: Variations */
@media only screen and (min-width: 768px) {
  .hs-testimonial blockquote:before {
    border: 1px solid transparent;
    bottom: initial;
    left: initial;
  }
  .hs-testimonial--top blockquote:before {    
    bottom: calc(100% - .5em - 1px);
    left: calc(50% - .5em);
    border-top-color: #eee;
    border-right-color: #eee;
    -webkit-box-shadow: 0 .25em 2em -.5em rgba(29,29,31,0.3);
    box-shadow: 0 .25em 2em -.5em rgba(29,29,31,0.3);
  }
  .hs-testimonial--right blockquote:before {   
    bottom: calc(50% - .5em - 1px);
    left: calc(100% - .5em);
    border-right-color: #eee;
    border-bottom-color: #eee;
  }
  .hs-testimonial--bottom blockquote:before {    
    top: calc(100% - .5em - 1px);
    left: calc(50% - .5em);
    border-bottom-color: #eee;
    border-left-color: #eee;
  }
  .hs-testimonial--left blockquote:before {    
    bottom: calc(50% - .5em - 1px);
    right: calc(100% - .5em);
    border-left-color: #eee;
    border-top-color: #eee;
  }
}
/* Footer */
.hs-testimonial footer {
  font-family: sans-serif;
  font-size: .7em;
}
.hs-testimonial footer .name {
  margin-top: 1em;
  font-weight: bold;
}
.hs-testimonial footer .title {
  margin-top: .3em;
  font-style: italic;
}














/* Slick-theme */

/* Slider */
.slick-loading .slick-list {
  background: #fff url('//design-assets.hubspot.com/hubfs/Slick%20Slider/ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.eot');
  src: url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.eot') format('embedded-opentype'), url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.woff') format('woff'), url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.ttf') format('truetype'), url('//design-assets.hubspot.com/hubfs/Slick%20Slider/slick.svg') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color:  #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: 5px;
  z-index: 1;
}
[dir='rtl'] .slick-prev {
  right: 5px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: 5px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: 5px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}