.hs-tabs__item{
  display: none;
  padding: 20px;
  border: 1px solid #none;
}
.hs-tabs__item--active{
  display: block;
}
.hs-tabs__item img{ 
 	/* Protect images from overflowing the tab */ 
  max-width: 100%;
  height: auto;
}
.hs-tabs__nav{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
}
.hs-tabs__nav li{
  display: inline-block;
}
.hs-tabs__navitem{
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid #none;
  border-bottom: none;
}
.hs-tabs__navitem--active{
  color: #ffc036;
  background: #1f1f1f;
}
/* fix for hubspot injected div */
.hs-tabs__navitem *{
  pointer-events: none;
}